/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}

.bs-callout h1,.bs-callout h2,.bs-callout h3,.bs-callout h4,.bs-callout h5,.bs-callout h6
	{
	margin-top: 0;
}

.bs-callout-danger h1,.bs-callout-danger h2,.bs-callout-danger h3,.bs-callout-danger h4,.bs-callout-danger h5,.bs-callout-danger h6
	{
	color: #B94A48;
}

.bs-callout-warning h1,.bs-callout-warning h2,.bs-callout-warning h3,.bs-callout-warning h4,.bs-callout-warning h5,.bs-callout-warning h6
	{
	color: #C09853;
}

.bs-callout-info h1,.bs-callout-info h2,.bs-callout-info h3,.bs-callout-info h4,.bs-callout-info h5,.bs-callout-info h6
	{
	color: #3A87AD;
}

.bs-callout-success h1,.bs-callout-success h2,.bs-callout-success h3,.bs-callout-success h4,.bs-callout-success h5,.bs-callout-success h6
	{
	color: #3C763D;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code,.bs-callout .highlight {
	background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}

.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}

.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}

.bs-callout-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
}